<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>539407331155-mqkvk0f0192113kdj3i6r48ie1ou35fn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.539407331155-mqkvk0f0192113kdj3i6r48ie1ou35fn</string>
	<key>API_KEY</key>
	<string>AIzaSyBFkU4D8ymJVpKcNkrM9sPGXze9Agelj5c</string>
	<key>GCM_SENDER_ID</key>
	<string>539407331155</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.lab.Jaradalab</string>
	<key>PROJECT_ID</key>
	<string>jaradalab</string>
	<key>STORAGE_BUCKET</key>
	<string>jaradalab.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:539407331155:ios:bd5072912a1bece0c2fba6</string>
</dict>
</plist>